<p>

	<%= link_to "New Game!", players_seven_wonders_path %>
	<br>
	<br>
	<%= link_to "Last 10 Games", history_seven_wonders_path %>
	<br>
	<br>
	Stats
	<br>
	<br>
	Players
	<br>
	<br>
	BoardList
	<br>
	<br>
</p>